.content__card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 15px;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .q-img {
        height: 60px;
        width: 60px;
        border-radius: 100%;
        border: solid 1px rgba(#000000, .2);

        @media screen and (max-width: 768px) {
            margin: auto;
        }
    }

    .content__info {
        color: #233b61;
        line-height: 1.4rem;

        .content__name, .content__details {
            font-size: 14px;
            font-weight: 700;
        }

        .content__datetime{
            font-size: 12px;
            font-weight: 500;

            span {
                opacity: .6;
            }
        }

        .content__details {
            line-height: 1.6rem;

            span {
                color: #ffffff;
                font-size: 12px;
                font-weight: 500;
                background-color: #464de4;
                padding: 3px 15px;
                border-radius: 4px;
            }
        }
    }
}
