.content__card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 15px;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        text-align: center;
    }



    .content__info {
        line-height: 1.4rem;

        .q-img {
            height: 60px;
            width: 60px;
            border-radius: 6px;
            border: solid 1px rgba(#000000, .2);
            margin-bottom: 5px;

            @media screen and (max-width: 768px) {
                margin: auto;
            }
        }

        .content__name {
            color: #233b61;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.2rem;
            margin-bottom: 5px;

            span {
                font-size: 12px;
                font-weight: 500;
            }
        }

        .content__datetime, .content__room, .content__location{
            color: #000000;
            opacity: .6;
            font-size: 12px;
            font-weight: 500;
        }

        .content__temperature {
            color: #233b61;
            font-size: 12px;
            font-weight: 700;
            line-height: 1.2rem;
            text-align: center;

            span {
                color: #ffffff;
                font-size: 12px;
                font-weight: 500;
                padding: 0px 5px;
                border-radius: 4px;
            }

            .normal-temperature {
                background-color: #30b900;
            }

            .abnormal-temperature {
                background-color: #ff0000;
            }
        }
    }
}
