.daily-logs {
    padding: 50px;

    .daily-logs__header {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;

        .content__title {
            margin-bottom: 0px !important
        }

        .header__filter {
            display: flex;
            align-items: center;
            margin-left: auto;

            .q-select {
                margin-left: 15px;
                background-color: #e1e3f0;

                .q-field__native {
                    color: #233b61 !important;
                    font-size: 12px;
                    font-weight: 500;
                    padding-left: 10px;
                }
            }

            .select-lg {
                width: 350px;
            }

            .select-sm {
                width: 200px;
            }

            .q-input {
                background-color: #ffffff;
                width: 300px;

                .q-field__native {
                    color: #233b61 !important;
                    font-size: 12px;
                    font-weight: 500;
                    padding-left: 10px;
                }
            }
        }
    }
}
