// COMPANY MANAGEMENT
.company-management {
    padding: 50px;

    .company-management__header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        .header__filter {
            display: flex;
            align-items: center;
            margin-left: auto;

            .q-input {
                background-color: #ffffff;
                width: 300px;

                .q-field__native {
                    color: #233b61 !important;
                    font-size: 12px;
                    font-weight: 500;
                    padding-left: 10px;
                }
            }
        }
    }

    .company-management__container {
        .company-management__content {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 15px;
            align-items: center;

            .company-management__info-logo {
                width: 80px;

                img {
                    width: 100%;
                    height: 80px;
                    object-fit: contain;
                }
            }

            .company-management__info-content {
                line-height: 1.3rem;
                width: 100%;
                display: flex;
                flex-direction: column;

                .company-management__info-btn {
                    margin-left: auto;

                    .q-btn {
                        color: rgba(#000000, .4);
                    }
                }

                .company-management__info-name {
                    color: #233b61;
                    font-size: 14px;
                    font-weight: 500;
                }

                .company-management__info-number {
                    color: #233b61;
                    font-size: 12px;
                    font-weight: 700;
                }

                .company-management__info-people {
                    color: rgba(#000000, .6);
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
    }
}

// COMPANY ADD
.company-add {
    padding: 50px;

    .header__title {
        margin-bottom: 30px !important;
    }

    .content__box {
        .content__title {
            margin-bottom: 10px;
            font-weight: 500 !important;
        }

        .content__title-sub {
            color: rgba(#000000, .6);
            font-size: 12px;
            font-weight: 500;
        }

        .company-add__content-info {
            margin-bottom: 30px;
        }

        .company-add__content-grid, .content__radio-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
        }

        .content__radio-grid {
            margin-top: 30px;
        }

        .company-add__btn {
            text-align: right;

            .btn-save {
                width: 300px;
            }
        }
    }
}
