.account-directory {
    padding: 50px;

    @media screen and (max-width: 425px) {
        padding: 30px;
    }

    .account-directory__header {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;

        @media screen and (max-width: 425px) {
            text-align: center;
            flex-direction: column;
            display: block;
            // margin-bottom: 30px;
        }

        .header__title {
            @media screen and (max-width: 425px) {
                margin-bottom: 20px;
            }
        }

        .content__title {
            margin-bottom: 0px !important;

            @media screen and (max-width: 425px) {
                margin-bottom: 20px;
            }
        }

        .header__filter {
            display: flex;
            align-items: center;
            margin-left: auto;

            @media screen and (max-width: 425px) {
                flex-direction: column;
                margin-left: 0px;
                align-items: flex-start !important;
            }

            .q-select {
                width: 250px !important;
                margin-left: 10px;
                background-color: #e1e3f0;

                @media screen and (max-width: 425px) {
                    margin-left: 0px !important;
                    margin-bottom: 10px;
                }

                .q-field__native {
                    color: #233b61 !important;
                    font-size: 12px;
                    font-weight: 500;
                    padding-left: 10px;
                }
            }

            .btn-export {
                margin-left: 10px;
            }

            .btn-choose {
                margin-right: 10px;
            }
        }
        .header_filter{
            display: flex;
            align-items: center;
            margin-right: auto;
            .q-input , .q-select {
                background-color: #ffffff;
                width: 250px;
                margin-right: 10px;

                @media screen and (max-width: 425px) {
                    width: 100% !important;
                    margin-left: 0px !important;
                    margin-bottom: 10px;
                }

                .q-field__native {
                    color: #233b61 !important;
                    font-size: 12px;
                    font-weight: 500;
                    padding-left: 10px;
                }
            }

            .select-sm {
                width: 200px;

                @media screen and (max-width: 768px) {
                    width: 150px !important;
                }

                @media screen and (max-width: 425px) {
                    width: 100% !important;
                }
            }

            .btn-export, .btn-sort {
                margin-left: 10px;

                @media screen and (max-width: 425px) {
                    margin-left: 0px !important;
                    margin-bottom: 10px !important;
                }
            }

            .btn-choose {
                margin-right: 10px;

                @media screen and (max-width: 425px) {
                    margin-right: 0px !important;
                    width: 100% !important;
                    padding: 3px 0px !important;
                }
            }
        }
    }
    .account-directory__container{
        tbody>tr>:nth-child(1){
            font-weight: bold;
            color:#3f51b5;
        }
        tbody>tr>:nth-child(1):hover {
            text-decoration: underline;
        }
    }
}
