.account-directory {
    padding: 50px;

    .account-directory__header {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;

        .content__title {
            margin-bottom: 0px !important
        }

        .header__filter {
            display: flex;
            align-items: center;
            margin-left: auto;

            .q-select {
                width: 250px !important;
                margin-left: 10px;
                background-color: #e1e3f0;

                .q-field__native {
                    color: #233b61 !important;
                    font-size: 12px;
                    font-weight: 500;
                    padding-left: 10px;
                }
            }

            .btn-export {
                margin-left: 10px;
            }

            .btn-choose {
                margin-right: 10px;
            }
        }
        .header_filter{
            display: flex;
            align-items: center;
            margin-right: auto;
            .q-input , .q-select {
                background-color: #ffffff;
                width: 250px;
                margin-right: 10px;

                .q-field__native {
                    color: #233b61 !important;
                    font-size: 12px;
                    font-weight: 500;
                    padding-left: 10px;
                }
                .btn-sort{
                    margin-left: 10px;
                }
            }
        }
    }
}
