// app global css in SCSS form

.header__title {
    font-size: 16px;
    font-weight: 700;
    color: #233b61;
}

// BOX STYLE ( THIS IS BIG CARD )
.content__box {
    width: 100%;
    padding: 30px;
    border: solid 1px rgba(#000000, .15);
    background-color: #ffffff;
    border-radius: 2px;
}

//BOX TITLE STYLE ( LABEL FOR BOX STYLE )
.content__title {
    color: #233b61;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}

// BOX GRID STYLE 2x2 ( 2 GRID )
.content__grid-2x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

// BOX GRID STYLE 4x4 ( 4 GRID )
.content__grid-4x4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

//CARD STYLE ( THIS IS SMALL CARD )
.content__card {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(#000, .1);
}

//CONTENT IMG UPLOADER
.content__img-holder {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content__img {
        width: 200px;
        height: 200px;
        border: solid 1px rgba(#000000, .15);
        background-color: #ffffff;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;

        .q-icon {
            opacity: .4;
        }
    }

    .btn-upload {
        font-size: 12px !important;
        width: 200px;
        margin-top: 10px;
        margin-left: 0px;
    }
}

// SELECT CONTAINER
.content__select {
    .content__select-label {
        font-size: 14px;
        font-weight: 500;
        color: #233b61;
        margin-bottom: 10px;
    }

    .q-select {
        width: 100%;

        .q-field__native {
            color: #233b61 !important;
            font-size: 12px;
            font-weight: 500;
            padding-left: 10px;
        }
    }
}

// INPUT CONTAINER
.content__input {
    .content__input-label {
        font-size: 14px;
        font-weight: 500;
        color: #233b61;
        margin-bottom: 10px;
    }

    .q-input {
        width: 100%;

        .q-field__native {
            color: #233b61 !important;
            font-size: 12px;
            font-weight: 500;
            padding-left: 10px;
        }
    }
}

// BUTTON STYLE
.btn-primary {
    background-color: #464de4;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    margin-left: auto;
    width: 150px;
    padding: 3px 0px;
    border: solid 1px #464de4;
    // box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    transition: .2s all ease-in-out;

    .q-icon {
        margin-left: 10px;
    }

    &:hover {
        background-color: #222ce3;
        transition: .2s all ease-in-out;
    }
}

.btn-outline {
    background-color: #ffffff;
    color: #233b61;
    font-size: 14px;
    font-weight: 700;
    margin-left: auto;
    width: 150px;
    padding: 3px 0px;
    border: solid 1px rgba(#464de4, .15);
    // box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    transition: .2s all ease-in-out;

    .q-icon {
        margin-left: 10px;
    }

    &:hover {
        background-color: #464de4;
        border: solid 1px #464de4;
        color: #ffffff;
        transition: .2s all ease-in-out;
    }
}
