* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f4f4f4;
}

.q-header {
    .q-toolbar {
        background-color: #3f51b5 !important;
        height: 60px;
        padding: 0px 20px;

        .q-img {
            object-fit: contain;
            width: 120px;
            margin-left: 20px;
            margin-right: auto;
        }

        .q-btn-toggle {
            margin-right: 20px;
        }

        .btn-sync__container {
            .q-btn {
                position: relative;
                margin-left: auto;
                margin-right: 20px;

                .notification-indicator {
                    background-color: #ff0000;
                    width: 22px;
                    height: 15px;
                    text-align: center;
                    border-radius: 30px;
                    font-size: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 3px;
                    right: -10px;
                }
            }
        }
    }
}

.main {
    .nav-profile {
        padding: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;

        .nav-profile__img {
            margin: auto;
            width: 80px;
            height: 80px;
            border-radius: 100%;
            border: solid 1px rgba(#000000, .15)
        }

        .nav-profile__info {
            margin-top: 15px;
            .nav-profile__name {
                font-size: 14px;
                font-weight: 500;
            }

            .nav-profile__position {
                color: #3f51b5;
                font-size: 12px;
                font-weight: 700;
            }
        }
    }

    .nav-title {
        padding-left: 15px;
        font-size: 12px;
        font-weight: 700;
        color: #3f51b5;
        margin-bottom: 15px;
    }

    .nav-list {
        color: #233b61;

        .nav {
            font-weight: 500;
            font-size: 14px;

            .q-icon {
                color: #3f51b5;
                font-size: 18px;
            }

            .nav-sub {
                overflow: auto;
                background-color: #fafafa;
                border: none !important;

                .nav-item {
                    font-weight: normal;
                    cursor: pointer;
                    margin-left: 0;
                    padding: 10px 0px 10px 73px;

                    &:hover {
                        background-color: #e2e2e2;
                    }

                    &.active {
                        background-color: #f1f2ef;
                        color: #3f51b5 !important;
                    }
                }
            }
        }
    }
}

.documentation {
    width: 1000px;
    max-width: 95%;
    margin: auto;
    margin-top: 40px;
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 40px;
    color: #333;
    margin-bottom: 40px;


    .component {

        border: 1px dashed #eee;
        background-color: #fafafa;
        padding: 30px;
        text-align: center;
        border-radius: 5px;
    }
    .form-container {
        text-align: left;
        background-color: #fff;
        width: 500px;
        margin: auto;
        border-radius: 5px;
        padding: 25px;
        border: 1px solid #ccc;
    }
}
