* {
    font-family: 'Open Sans', sans-serif;
}

.login {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    height: 100vh;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr !important;
    }

    .login__banner {
        background-image: url('../../../assets/myhealth-login-banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        @media screen and (max-width: 768px) {
            display: none !important;
        }
    }

    .login__content {
        margin: auto;
        width: 100%;
        padding: 0px 100px;

        @media screen and (max-width: 425px) {
            padding: 0px 30px;
        }

        .login__title {
            margin-bottom: 30px;

            @media screen and (max-width: 768px) {
                margin-bottom: 50px !important;
                text-align: center;
            }

            .login__title-primary {
                margin-bottom: 10px;

                .q-img {
                    width: 250px;
                }
            }

            .login__title-sub {
                color: #354168;
                font-size: 16px;
                font-weight: 500;
            }
        }

        .login__input {
            width: 60%;

            @media screen and (max-width: 768px) {
                width: 100% !important;
            }

            .q-input {
                border: solid 1px #464de4;
                border-radius: 4px !important;
                margin-bottom: 20px;
                padding: 0px 3px;
                outline: none !important;

                .q-field__native {
                    padding: 0px 10px;
                    color: #233b61 !important;
                    font-size: 14px;
                    font-weight: 500;
                }

                .q-icon {
                    padding-left: 15px;
                    opacity: .6;
                }
            }
        }

        .login__btn {
            .q-btn {
                color: #ffffff;
                width: 200px;

                @media screen and (max-width: 768px) {
                    width: 100% !important;
                }
            }
        }

        .login__footer {
            color: rgba(#000000, .6);
            font-size: 12px;
            font-weight: 500;
            margin-top: 30px;

            // @media screen and (max-width: 768px) {
            //     margin-top: 50px !important;
            // }
        }
    }
}
